

main{
    width: 100%;
    height: 40vh;
    display: flex;
    align-items: center;
    article{
        width: 30%;
        height: 300px;
        background-color: rgb(82, 136, 136);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    section{
        width: 70%;
        height: 40vh;
        background-color: rgb(82, 136, 136);
        display: flex;
        justify-content: center;
        align-items: center;
    }
}