

<main>
    <div class="name">
        <h1>{{vagon.name}}</h1>
        <app-button-bck routerLink="/home" [text]="'Go back'"></app-button-bck>
    </div>
    <div class="seats">
        <app-seat *ngFor="let el of vagon.seats" [seat]="el" [chosenSeatsArr]="chosenSeats"></app-seat>
    </div>
    <div class="chosenSeats">
        <h2>Chosen seats:</h2>
        <app-seat *ngFor="let el of chosenSeats" [seat]="el" [chosenSeatsArr]="chosenSeats"></app-seat>
    </div>
    <app-button-bck (click)="ok()" [text]="'Book'"></app-button-bck>
</main>