

<main>
    <!-- <div class="" *ngFor="let el of stations">
          <h5>Station - {{el.name}}</h5>
          <p>Station number -{{el.stationNumber}}</p>
          <a routerLink="">Continue</a>
    </div> -->

    <section class="nav">

        <div class="from">
            <h2>From</h2>
            <select [(ngModel)]="from" id="" >
                <option value=""></option>
                <option *ngFor="let el of stations">{{el.name}}</option>
            </select>    
        </div>
        <div class="to">
            <h2>Where to</h2>
            <select [(ngModel)]="to" id="" >
                <option value=""></option>
                <option *ngFor="let el of stations">{{el.name}}</option>
            </select>    
        </div>
        <div class="date">
            <h2>Date</h2>
            <input [(ngModel)]="date" type="date" id="">
        </div>
        <div class="button">
            <h2>Filter</h2>
            <button (click)="filter()" >CLICK ME</button>
        </div>
    </section>
    <section>

       <div class="trains" *ngFor="let el of departureTrains.trains">
            <div class="info">
                <h2>გასვლა - {{el.departure}}</h2>
                <div class="dates">
                    <h2>{{el.name}}</h2>
                    <h2>{{el.date}}</h2>
                </div>
                <h2>მისვლა - {{el.arrive}}</h2>
            </div>
            <div class="vagons" *ngFor="let vag of el.vagons">
                
                    <h2>{{vag.name}}</h2>
                    <button routerLink="/vagons/{{vag.id}}">continue</button>
                
            </div>
        </div>

    </section>

</main>
