

<main>
    <!-- <div class="" *ngFor="let el of stations">
          <h5>Station - {{el.name}}</h5>
          <p>Station number -{{el.stationNumber}}</p>
          <a routerLink="">Continue</a>
    </div> -->

    <section class="nav">

        <div class="from">
            <h2>From</h2>
            <select [(ngModel)]="from" id="" >
                <option value=""></option>
                <option *ngFor="let el of stations">{{el.name}}</option>
            </select>    
        </div>
        <div class="to">
            <h2>Where to</h2>
            <select [(ngModel)]="to" id="" >
                <option value=""></option>
                <option *ngFor="let el of stations">{{el.name}}</option>
            </select>    
        </div>
        <div class="date">
            <h2>Date</h2>
            <input [(ngModel)]="date" type="date" id="">
        </div>
        <div class="button">
            <h2>Filter</h2>
            <button (click)="filter()" >CLICK ME</button>
        </div>
    </section>
    <section>

        <div class="trains" *ngFor="let el of departureTrains">
            <div class="info">
                
            </div>
            <div class="vagons">
                <h2>{{el.destination}}</h2>
            </div>
        </div>

    </section>

</main>
